@import "tailwindcss";
@config "../tailwind.config.js";
/* ライバーカラーのborderを動的に指定するための設定 */
/* See https://tailwindcss.com/docs/detecting-classes-in-source-files#safelisting-specific-utilities */
@source inline("border-kuzuha-500");
@source inline("border-salome-hyakumantenbara-500");
@source inline("border-kanae-500");
@source inline("border-mito-tsukino-500");
@source inline("border-toya-kenmochi-500");
@source inline("border-sara-hoshikawa-500");
@source inline("border-minato-fuwa-500");
@source inline("border-luca-kaneshiro-500");
@source inline("border-shu-yamino-500");
@source inline("border-lize-helesta-500");
@source inline("border-saku-sasaki-500");
@source inline("border-kaede-higuchi-500");
@source inline("border-kizuku-yashiro-500");
@source inline("border-ars-almal-500");
@source inline("border-hayato-kagami-500");
@source inline("border-yuika-shiina-500");
@source inline("border-lauren-iroas-500");
@source inline("border-ibrahim-500");
@source inline("border-himawari-honma-500");
@source inline("border-chima-machita-500");
@source inline("border-kokoro-amamiya-500");
@source inline("border-furen-e-lustario-500");
@source inline("border-akina-saegusa-500");
@source inline("border-haru-kaida-500");
@source inline("border-elu-500");
@source inline("border-nui-sociere-500");
@source inline("border-ratna-petit-500");
@source inline("border-chigusa-nishizono-500");
@source inline("border-debidebi-debiru-500");
@source inline("border-kana-sukoya-500");
@source inline("border-mikoto-rindou-500");
@source inline("border-sango-suo-500");
@source inline("border-sister-claire-500");
@source inline("border-rena-yorumi-500");
@source inline("border-meloco-kyoran-500");
@source inline("border-sonny-brisko-500");
@source inline("border-elira-pendora-500");
@source inline("border-makaino-ririmu-500");
@source inline("border-chaika-hanabatake-500");
@source inline("border-rion-takamiya-500");
@source inline("border-hibari-watarai-500");
@source inline("border-meme-mashiro-500");
@source inline("border-gwelu-os-gar-500");
@source inline("border-rosemi-lovelock-500");
@source inline("border-belmond-banderas-500");
@source inline("border-leos-vincent-500");
@source inline("border-fuyuki-hakase-500");
@source inline("border-kei-nagao-500");
@source inline("border-ex-albio-500");
@source inline("border-maria-marionette-500");
@source inline("border-lain-paterson-500");
@source inline("border-kou-uzuki-500");
@source inline("border-akira-shikinagi-500");
@source inline("border-levi-elipha-500");
@source inline("border-tojiro-genzuki-500");
@source inline("border-kakeru-yumeoi-500");
@source inline("border-riri-yuhi-500");
@source inline("border-dola-500");
@source inline("border-gaku-fushimi-500");
@source inline("border-oliver-evans-500");
@source inline("border-kazaki-morinaka-500");
@source inline("border-yang-nari-500");
@source inline("border-masaru-suzuki-500");
@source inline("border-sophia-valentine-500");
@source inline("border-mao-matsukai-500");
@source inline("border-hisui-kitakoji-500");
@source inline("border-seraph-dazzlegarden-500");
@source inline("border-toru-koshimizu-500");
@source inline("border-rou-koyanagi-500");
@source inline("border-shiba-kuroi-500");
@source inline("border-nei-ponto-500");
@source inline("border-sho-hoshirube-500");
@source inline("border-ritsuki-sakura-500");
@source inline("border-mana-hibachi-500");
@source inline("border-kanato-fura-500");
@source inline("border-ruri-shioriha-500");
@source inline("border-shoichi-kanda-500");
@source inline("border-sou-hayase-500");
@source inline("border-nozomi-ishigami-500");
@source inline("border-fumi-500");
@source inline("border-kaisei-500");
@source inline("border-karuta-yamagami-500");
@source inline("border-luis-cammy-500");
@source inline("border-akari-shishido-500");
@source inline("border-natsume-kurusu-500");
@source inline("border-yotsuha-umise-500");
@source inline("border-eli-conifer-500");
@source inline("border-haruka-onomachi-500");
@source inline("border-rika-igarashi-500");
@source inline("border-ver-vermillion-500");
@source inline("border-ness-sakaki-500");
@source inline("border-emma-august-500");
@source inline("border-kagetsu-murakumo-500");
@source inline("border-seffyna-500");
@source inline("border-rai-inami-500");
@source inline("border-rito-usami-500");
@source inline("border-meruto-kuramochi-500");
@source inline("border-vezalius-bandage-500");
@source inline("border-roco-kaburaki-500");
@source inline("border-wen-akagi-500");
@source inline("border-min-suha-500");
@source inline("border-hajime-shibuya-500");
@source inline("border-yusei-kitami-500");
@source inline("border-kyoko-todoroki-500");
@source inline("border-milan-kestrel-500");
@source inline("border-muyu-amagase-500");
@source inline("border-rine-yaguruma-500");
@source inline("border-lee-roha-500");
@source inline("border-ha-yun-500");
@source inline("border-toto-tachitsute-500");
@source inline("border-klara-charmwood-500");
@source inline("border-na-sera-500");
@source inline("border-oh-jiyu-500");
@source inline("border-ryu-hari-500");
@source inline("border-hex-haywire-500");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}